@tailwind base;
@tailwind components;
@tailwind utilities;



@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)
    );
    font-family: 'Libre Baskerville', serif;
}

html, body {
    height: 100%;
}

p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

blockquote {
    background-color: #1f2937;
    padding: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

input::placeholder {
    background-color: rgb(247 254 231 / var(--tw-bg-opacity, 1));
    color: black !important;
    font-size: 0.9rem;
}
